nav button {
  margin: 5px;
}
button.active {
  border: none;
  font-weight: bold;
}

main,
footer,
header {
  margin: 2rem 1rem;
}

main {
  /* font-size: 1.4rem; */
}
footer {
  font-size: 0.8rem;
}
